**/data
**/node_modules
**/.git
**/.venv
**/__pycache__
**/.pytest_cache
**/.DS_Store
alpha
baocao
results
tmp
logs
git_ignore_folder
backend/engines/quanta/git_ignore_folder
backend/engines/quanta/log
backend/engines/quanta/logs
backend/engines/quanta/mlruns
backend/engines/quanta/data
backend/engines/quanta/venv
backend/engines/quanta/.venv
backend/engines/quanta/quantaalpha/factors/factor_template/mlruns
backend/engines/quanta/quantaalpha/factors/data_template/*.h5
frontend/dist
*.pyc
*.pyo
*.pyd
.env
.ssh
.aws
.docker
dist
build
